@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: courier, monospace;
        background-color: black;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    html::-webkit-scrollbar {
        display: none;
    }
};